# Byte-compiled / optimized / DLL files
__pycache__/
data/test/
data/val/
data/train/
data/full/
data/full/in
data/full/out
data/full/collision
logs/
models/
train/
validation/

# files
*.py[cod]
*$py.class
*.log
*.png
.prepared